* {
    margin: 0;
    padding: 0;
    color: white;
    scroll-behavior: smooth;
    font-family: niveau-grotesk, sans-serif;
    font-weight: normal;
}

:root {
    --main-bg: #262626;
    --main-bg--hover: #333333;
    --darker-bg: #121212;
    --lighter-bg: #404040;
    --main: #5e2ebf;
    --spotify-green: #1db956;
    --warning: #d34747;
    --text-main: white;
    --text-darker: #bfbfbf;
    --text-accept: #baffc1;
    --text-reject: #ffcaca;
}

/* Chromium-based browser scrollbars */
/* Width */
::-webkit-scrollbar {
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background-color: var(--main-bg);
    color: white;
}

h1 {
    font-size: 26px;
}

a {
    text-decoration: none;
}

.font--darker {
    color: var(--text-darker);
}

.link {
    text-decoration: underline;
}

.text--accept {
    color: var(--text-accept);
}

.text--reject {
    color: var(--text-reject);
}

.loader {
    animation: rotate 3s linear infinite;
    width: min-content;
    aspect-ratio: 1 / 1;
    margin: auto;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    margin: 5px 0;
    font-size: 18px;
    overflow: clip;
    background-color: var(--lighter-bg);
    border-radius: 20px;
}

.item--column {
    flex-direction: column;
}

.item--row {
    flex-direction: row;
}

.item--slim {
    padding: 5px;
    margin: 0 0 5px;
}

.item--interactive {
    cursor: pointer;
    transition: 50ms;
}

.item--interactive:hover {
    transition: 150ms;
    background-color: var(--main-bg--hover);
}

.item--warning {
    color: var(--warning);
}

.item__icon {
    margin-right: 10px;
}

.item__actions {
    display: flex;
    border-radius: 15px;
    width: 100%;
    overflow: hidden;
}

.item__actions__action {
    border: unset;
    padding: 10px;
    background-color: var(--darker-bg);
    cursor: pointer;
    flex-grow: 1;
    font-size: 16px;
    -webkit-appearance: none;
}

.item__actions__action:first-child {
    margin-right: 2px;
}

.item__actions__action--disabled {
    background-color: unset;
    color: grey;
    cursor: default;
}

.filter__img {
    border-radius: 20px;
    margin-right: 10px;
    width: 56px;
    height: 56px;
    align-self: flex-start;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form > * {
    margin-bottom: 5px;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form > label {
    text-align: start;
    padding-left: 10px;
    margin-top: 10px;
    user-select: none;
}

.form > label:first-child {
    margin-top: 0;
}

.form__input {
    background-color: var(--darker-bg);
    border: none;
    border-radius: 15px;
    color: white;
    padding: 5px 10px;
    max-width: 100%;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
}

.form__input__slider {
    padding: 0;
    margin: 5px;
    width: calc(100% - 10px);
}

.textarea {
    resize: vertical;
    padding: 10px;
    font-size: 16px;
}

.textarea--no-resize {
    resize: none;
}

.form__label {
    user-select: none;
    margin-bottom: 5px;
}

.modal {
    position: fixed;
    top: 50vh;
    right: 50vw;
    transform: translate(50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.modal__contents {
    width: 85vw;
    border-radius: 20px;
    padding: 10px;
    background: var(--main-bg);
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    max-height: 90vh;
    overflow: auto;
    overscroll-behavior: auto contain;
}

.modal__title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.modal__message {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}

.modal__actions {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.modal__actions--sticky {
    position: sticky;
    bottom: 0;
}

.actions__button {
    background-color: var(--darker-bg);
    border-radius: 10px;
    padding: 5px 10px;
    width: 100%;
    min-height: 6vh;
    margin-top: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    -webkit-appearance: none;
}

.actions__button--inactive {
    background-color: unset;
    color: grey;
}

/*Post stared*/
.post__star--active * {
    color: var(--main);
    fill: var(--main);
}

@media (min-width: 640px) {
    .modal__contents {
        width: 60vw;
    }
}

@media (min-width: 1080px) {
    .modal__contents {
        width: 30vw;
    }

    .list {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
    }

    .item--half {
        --margin-size: 10px;
        flex: max-content;
        box-sizing: border-box;
        min-width: calc(50% - var(--margin-size));
        max-width: calc(50% - var(--margin-size));
        margin-bottom: 5px;
    }

    .item--half:nth-child(2n) {
        margin-left: var(--margin-size);
    }
}

@media (min-width: 1920px) {
    .modal__contents {
        width: 20vw;
    }
}
