* {
    margin: 0;
    padding: 0;
    color: white;
    scroll-behavior: smooth;
    font-family: niveau-grotesk, sans-serif;
    font-weight: normal;
}

:root {
    --main-bg: #262626;
    --darker-bg: #161616;
    --lighter-bg: #393939;
    --spotify-green: #1db956;
    --warning: #d34747
}

body {
    background-color: var(--main-bg);
    color: white;
}

h1 {
    font-size: 28px;
}

a {
    text-decoration: none;
}

.item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 10px;
    margin: 10px 0;
    line-height: 0;
    font-size: 18px;

    background-color: var(--lighter-bg);
    border-radius: 20px;
}

.item--warning {
    color: var(--warning);
}

.item__icon {
    margin-right: 10px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__input {
    background-color: var(--darker-bg);
    border: none;
    border-radius: 15px;
    color: white;
    padding: 5px;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 20px;
}
