* {
    margin: 0;
    padding: 0;
    color: white;
    scroll-behavior: smooth;
    font-family: niveau-grotesk, sans-serif;
    font-weight: normal;
}

:root {
    --main-bg: #262626;
    --darker-bg: #161616;
    --lighter-bg: #393939;
    --spotify-green: #1db956;
    --warning: #d34747
}

body {
    background-color: var(--main-bg);
    color: white;
}

h1 {
    font-size: 26px;
}

a {
    text-decoration: none;
}

.loader {
    animation: rotate 3s linear infinite;
    width: 30px;
    height: 30px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    width: -moz-available;
    width: -webkit-fill-available;

    background-color: var(--lighter-bg);
    border-radius: 20px;
}

.item--interactive {
    cursor: pointer;
    transition: 50ms;
}

.item--interactive:hover {
    transition: 150ms;
    background-color: var(--main-bg);
}

.item--warning {
    color: var(--warning);
}

.item__icon {
    margin-right: 10px;
}

.filter {
    display: flex;
    margin: 5px 0;
    user-select: none;
    cursor: pointer;
}

.filter__img {
    border-radius: 20px;
    margin-right: 10px;
    width: 56px;
    height: 56px;
}

.filter__info {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__input {
    background-color: var(--darker-bg);
    border: none;
    border-radius: 15px;
    color: white;
    padding: 5px;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 20px;
}

.modal {
    position: fixed;
    top: 50vh;
    right: 50vw;
    transform: translate(50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    max-width: 100vw;
}

.modal__contents {
    width: 85vw;
    border-radius: 20px;
    padding: 10px;
    background: var(--main-bg);
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    max-height: 90vh;
    overflow: auto;
    overscroll-behavior: auto contain;
}

.modal__title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.modal__message {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}

.modal__actions {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.actions__button {
    background-color: var(--darker-bg);
    border-radius: 10px;
    padding: 5px 10px;
    width: 100%;
    min-height: 6vh;
    margin-top: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.actions__button--inactive {
    background-color: unset;
    color: grey;
}
