### Node ###
/node_modules/

logs
*.log
*.tsbuildinfo

### Yarn ###
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
yarn-debug.log*
yarn-error.log*

.DS_Store

### TypeScript ###
dist/

### Environment variables ###
*.env
